.aside{
    background-color:#526D82 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}
.img-box{
    background-color:#9DB2BF ;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
}
.group-icons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.icons{
    background-color: #9DB2BF;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #9DB2BF;
    width:80% ;
    border-radius: 15px;
    height: 6%;
}
.box{
    margin-top: 20px;
    background-color: #9DB2BF;
    padding: 10px;
    border-radius: 15px;
}
.box-item{
    display: flex;
    padding: 10px;

}
.icon{
    background-color: #27374D;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.item{
    margin: 5px;
}
.curriculum{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #9DB2BF;
    width:80% ;
    border-radius: 15px;
    height: 6%;
}